

.pic-sec{
    background-image: url("../assets/pexels-leon-ardho-2468339.jpg");
    background-size: cover;
    background-repeat: no-repeat;

  
    
}
#form-3{
  
    margin-top: 100px;
    
    
}
section{
    margin-top: 30px;
}
label{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;  

}

.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 10px 10px 10px rgba(226, 109, 109, 0.233);
 
   
}
.col-2{
    border:solid 1px rgb(222, 216, 247);
    padding-left: 50px;
    padding-right: 50px;
   
}

.col-2 h1{
    color: #b10808;
    font-weight: 670;
    margin-bottom: 20px;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;  

}
.col-2 .btn{
    background-color: #b10808;
    color: white;
    border-radius: 0%;
    margin-top: 30px;
    margin-bottom: 80px;
    font-family: 'Poppins', sans-serif;  
    

}



