*{
    padding: 0;
    margin:0;
}
#form-1 h1{
    color: #b10808;
    font-weight:bolder;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;  
    text-align: center;
    margin-top: 30px; 

}

.container{
    padding-left: 100px;
    padding-right: 100px;
}


#form-1 .btn{
    background-color: #b10808;
    color: white;
    border-radius: 0%;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;  
    border-radius: 5px;
    text-decoration: none;
}






.col-1 {
    background-color: #b8494928;
   
    padding-left: 50px;
    padding-right: 50px;
}
.col-2{
    background-color: rgba(173, 166, 214, 0.205);
    padding-left: 50px;
    padding-right: 50px;


}
label {
    font-weight: bold;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;  
   
}


.form-row p{
 color: black !important;
 font-size: 15px;
 font-style: normal !important;
 font-family: 'Poppins', sans-serif;  


}

